.header {
  background-color: #1F2229;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1116px;
}

.logo {
  height: 23px;
}

.info {
  display: flex;
  align-items: center;
  gap: 32px;

  p {
    margin: 0;
  }
}