@font-face {
  font-family: Textsans;
  src: url("./assets/fonts/tele2_textsans-regular.woff");
}

:root {
  font-family: Textsans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1116px;
}
